.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.search-input1 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
}

.category-nav {
    margin-bottom: 20px;
}

.category-list1 {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.category-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-item.active {
    background-color: #007bff;
    color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    width: 300px;
}

.card-img {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
}

.card-description {
    font-size: 1rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    font-size: 1.25rem;
    color: #007bff;
}

.view-details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: 20px;
    margin-left: 5px;

}

.view-details-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    position: relative;
    bottom: 22px;
    margin-left: 120px;
}

.delete-button:hover {
    background-color: #c82333;
}